<!-- OGP -->
<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:type" content="website" />
{{ if .Params.eyecatch }}
  <meta property="og:image" content="{{ .Params.eyecatch | absURL }}" />
{{ else if .Site.Params.image }}
  <meta property="og:image" content="{{ .Site.Params.image | absURL }}" />
{{ end }}
{{ if .Summary }}
  <meta property="og:description" content="{{ .Summary }}" />
{{ else }}
  <meta property="og:description" content="{{ .Site.Params.description }}" />
{{ end }}
<meta name="keywords" content="{{ .Site.Params.keywords }}" />
